.firstHeading{
    font-weight: bold;
    color: white;
    background: rgb(43, 140, 231);
    text-align: center;
    padding: 5px;
}

.config{
    text-align: center;
    text-decoration: none;
}

.config:hover{
    font-weight: bold;
}